<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.konkuk.cse">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="kr.ac.konkuk.cse"
        android:description="@string/permdescription"
        android:label="@string/app_name"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Excersise3"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".examm13.MapActivity"
            android:label="@string/title_activity_map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.HOME" /> -->
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAA9wSGPniFVINvTIY30m0Vo7Q6rE5-eUU" />

        <activity android:name=".examm11.ProductActivity">
        </activity>
        <activity android:name=".examm10.JsonParseActivity" />
        <activity android:name=".examm10.XMLParseActivity" />
        <activity android:name=".examm10.WebParseActivity" />
        <activity android:name=".examm10.AsyncActivity" />
        <activity android:name=".examm10.WebViewActivity" />
        <activity android:name=".exam91.FragmentWrapperActivity" />
        <activity android:name=".exam91.FragmentWrapperActivity2" />
        <activity android:name=".exam9.MySecondActivity" />
        <activity android:name=".exam9.MyFragmentActivity" />
        <activity android:name=".exam7.PendingIntentActivity" />
        <activity android:name=".exam3.MainActivity" />
        <activity android:name=".exam3.ToggleActivity" />
        <activity android:name=".exam3.RadioActivity" />
        <activity android:name=".exam3.AutoCompleteActivity" />
        <activity android:name=".myjact.Exam1Activity" />
        <activity android:name=".exam4.TextWatcherActivity" />
        <activity android:name=".exam4.TextInputLayoutActivity" />
        <activity android:name=".exam4.MediaPlayerActivity" />
        <activity android:name=".exam4.LayoutActivity" />
        <activity android:name=".exam5.MyRecyclerActivity" />
        <activity android:name=".exam5.WordMasterActivity" />
        <activity android:name=".exam6.MediaPlayerActivity" />
        <activity android:name=".exam6.IntentActivity" />
        <activity android:name=".exam6.IntroActivity" />
        <activity android:name=".exam6.AddVocaActivity" />
        <activity android:name=".exam6.WordMasterActivity" />
        <activity android:name=".exam7.IntentFilterActivity" />
        <activity
            android:name=".exam7.SecondActivity"
            android:permission="kr.ac.konkuk.cse">
            <intent-filter>
                <action android:name="kr.ac.konkuk.cse" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>